
.wrapper-bannerimage{
    position: absolute;
    right: 0;
    top: 0;
    width: 342px;
    overflow: hidden;
    z-index: -2;
}


@property --r {
    syntax: "<length>";
    initial-value: 0px;
    inherits: true;
  }
  
  .bannerimage {
    --r: 40px; /* the radius */
    width: 700px;
    aspect-ratio: 1/cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
    -webkit-mask:
      conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
       0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r) at left  var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 0,100% 100%,0 100%);
    transition: --r .6s;
    cursor: pointer;
  }
  
  
  .wrapper-bannerimage img {
    object-fit: cover;
  }
  
  .wrapper-bannerimage img + .wrapper-bannerimage img {
     margin-left: -80px;
  }