
  .frontpagecontent_wrapper{
    width: 50%;
    margin: 10%;

    &_content{
        margin-top: 45%;
        width: 70%;
    }

    .button-wrapper{
      display: inline-flex;
      .button-linkedin{
        margin-left: 30px;
        margin-top: 10px;
        color: #0A1339;
      }
    }

  }
  
  
  
  
  .bannerimage {
    width: 67%;
    position: absolute;
    top: 0;
    right: -11%;
    z-index: -2;
}


.frontpageOverlay{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.cls-1 {
    fill: url(#linear-gradient);
  }

  .cls-1, .cls-2 {
    fill-rule: evenodd;
    stroke-width: 0px;
  }

  .cls-2 {
    fill: #fff;
  }


  .erfaringListe{
    list-style-type:none;
    padding: 0;
    margin-bottom: 35px;

    li {
        display: flex;
        padding: 10px 10px 10px 0;
        font-size: 18px;

        svg {
            margin-right: 10px;
        }
    }

  }