.navigation-container{

    position: absolute;
    top:0;
    left:0;
    right:0;
    padding: 20px;
    width: 80%;
    margin: 0 10%;

    &-list{
        width: 80%;
        position: absolute;
        right: 0;
        margin:0;
        padding:0;
        text-align: right;
    }

    &__nav-element{
        color: #0A1339;
        padding: 20px;
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;

    li{position: relative;}

       li::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: #0A1339;
            height: 1px;
            width: 0%;
        }

        li:hover::before{
            width: 100%;
            transition: ease-in-out 0.3s;
            font-weight: 600;
        }
    }

    &-logo{
        width: 200px;
        position: absolute;
        left: 0;
    }
}


.button{
    text-decoration: none;
    padding:  15px 30px;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;

    &-primary {
        background: #FE8083;
        color: #2F1312;

        &::before, &::after{
            background: #FE8083;
        }

        &:hover{
            background: #ffabad;
            transition: ease-in-out 0.3s;
        }

    }

    &-secondary {
        position: relative;

            background: transparent;
            color: #0A1339;
            padding: 15px 40px;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            border: 2px solid #0A1339;
            border-radius: 10px 15px 10px 15px;
            outline: 0;
            display: inline-block;
            transform: skew(-21deg);

            & > span {
                display: inline-block;
                transform: skew(21deg);
              }

            &:hover {
                color: white;
                background: #B1E2F4;
                transition: ease-in-out 0.2s;
            }


              &::before {
                content: "";
                position: absolute;
                background: #0A1339;
                width: 0%;
                height: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                border-radius: 7px 13px 7px 13px;
              }

              &:hover::before{
                width: 100%;
                transition: ease-in-out 0.4s;
              }


    }

    &::before{
        content: "";
        position: absolute;
        width: 70px;
        height: 100%;
        left: -16px;
        top: 0;
        z-index: -1;
        bottom: 0;
        border-radius: 22px;
        clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
    }

    &::after{
        content: "";
        position: absolute;
        width: 70px;
        height: 100%;
        right: -16px;
        top: 0;
        z-index: -1;
        bottom: 0;
        border-radius: 22px;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }

    
    &[class] {
        filter:url(#round);
      }
    
}

.roundedCorner  {
    visibility: hidden; 
    position: absolute;
}
