.navigation-container{

    position: absolute;
    top:0;
    left:0;
    right:0;
    padding: 20px;
    width: 80%;
    margin: 0 10%;

    &-list{
        width: 80%;
        position: absolute;
        right: 0;
        margin:0;
        padding:0;
        text-align: right;
    }

    &__nav-element{
        color: #0A1339;
        padding: 20px;
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
    }

    &__nav-element:hover{
        text-decoration: underline;
        transition: ease-in-out 0.3s;
    }

    &-logo{
        width: 200px;
        position: absolute;
        left: 0;
    }
}


.button{
    text-decoration: none;
    padding:  20px 30px;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;

    &:hover{
        transform: rotate(2deg);
        transition: ease-in-out  0.3s;
    }

    &-primary {
        background: #FE8083;
        color: #2F1312;

        &::before, &::after{
            background: #FE8083;
        }
    }

    &-secondary {
        background: white;
        color: #0A1339;
        filter: url(#round) 
        drop-shadow(3px 0px 0px #000000) 
        drop-shadow(0px 3px 0px #000000)
        drop-shadow(-3px 0px 0px #000000) 
        drop-shadow(0px -3px 0px #000000)
        !important;

        &::before, &::after{
            background: white;
            z-index: 1;
        }
    }

    &::before{
        content: "";
        position: absolute;
        width: 70px;
        height: 100%;
        left: -16px;
        top: 0;
        z-index: -1;
        bottom: 0;
        border-radius: 22px;
        clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
    }

    &::after{
        content: "";
        position: absolute;
        width: 70px;
        height: 100%;
        right: -16px;
        top: 0;
        z-index: -1;
        bottom: 0;
        border-radius: 22px;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    
    &[class] {
        filter:url(#round);
      }
    
}

.roundedCorner  {
    visibility: hidden; 
    position: absolute;
}
