.card-wrapper{
    width: 100%;
    background: linear-gradient(354deg, #BAE0C2 -66.02%, rgba(184, 223, 192, 0.00) 75.89%);
    min-height: 700px;
    padding-top: 50%;
    
}

.postCard{
    position: relative;
    width: 100%;
    display:inline-flex;

    div{
        width: 33%;
        margin: 10px;
        padding: 35px;
        background-color: white;
    }
    .reference-user-image{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid #B6DEBE;
    }

    .reference-logo-image{
        width: 25%;
    }
}

h1{
    font-size: 80px;
    font-weight: 700;
}

.color-pink{
    color: #F7A9AB;
}