.card-wrapper{
    width: 100%;
    background-color: aquamarine;
}

.postCard{
    position: relative;
    width: 80%;
    margin: 10%;
    display:inline-flex;
    div{
        width: 33%;
        margin: 10px;
        padding: 50px;
        background-color: white;
    }
    .reference-user-image{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid #B6DEBE;
    }

    .reference-logo-image{
        width: 25%;
    }
}

h1{
    font-size: 80px;
    font-weight: 700;
}

.color-pink{
    color: #F7A9AB;
}